
body{
    background-color: #5cdb59;
  }
  hr{
    border-style: dotted;
      border-top-style: none ;
      border-color: #05386b;
      border-width: 6px;
      width: 4%;
      size: 2;
                 }
  img {border-radius: 50%;
      margin: 0;
}
h2{
  margin-top: 0;
}
